<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product App</title>

    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="nav-bar"></div>

    <div id="app">
        <div class="product">
            <div class="product-image">
                <!-- v-bind auxilia no updt da imagem toda vez que os dados mudam
                ele cria um laço entre os dados e o atributo (??)
                vc pode remover o v-bind e deixar só :src por exemplo -->
                <img v-bind:src="image" alt="Meias">
            </div>

            <div class="product-info">
                <h1>{{ product }}</h1>
                <!--  parte do challenge #1 -->
                <p>{{ description }}</p>
                <!--  parte do challenge #2 -->
                <a :href="link">Clique aqui para ver mais meias!</a>
                <!-- Vue tem as condicionais v-if, v-else-if e v-else -->
                <!-- <p v-if="inventory > 10">Em Estoque</p>
                <p v-else-if="inventory <= 10 && inventory > 0">Estoque Quase Acabando!</p>
                <p v-else>Fora de Estoque</p> -->
                
                <!-- Há uma outra diretiva do Vue.js que é o v-show 
                Quando é uma condicional simples, tipo True/False, talvez
                seja melhor usar ele, pq ele mostra um elemento ou não 
                dependendo do valor da variável
                O elemento ainda existe, mas é aplicado um display: none 
                nele nesses casos -->
                <p v-show="inStock">Em Estoque</p>
                <!--  parte do challenge #3 -->
                <p v-if="onSale">Em Venda!</p>

                <!-- v-for é outra diretiva? do Vue.js que serve pra fazer laço   -->
                <ul>
                    <li v-for="detail in details">{{ detail }}</li>
                </ul>

                <!-- Essa é a forma de imprimir dados mais complexos 
                    É altamente recomendado usar :key pro Vue ter controle
                    dos dados -->
                <div v-for="variant in variants" :key="variant.variantId">
                    <p>{{ variant.variantColor }}</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Isso aqui instala o Vue.js lol -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="main.js"></script>
</body>
</html>